.faq_container {
  max-width: 1000px;
  margin: 0 auto;
}
.faq_categoriesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}
.faq_answerInnerContainer {
  max-width: 600px;
  margin: 0 auto 4rem auto;
}
.faq_answerTitle {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .faq_categoriesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .faq_answerTitle {
    text-align: left;
  }
  .faq_categoriesContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem 0;
  }
}
.topics_container {
  max-width: 1000px;
  margin: 0 auto;
}
.topics_innerContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.topic_card {
  display: block;
  max-width: 100%;
  background-color: #FFF;
  border-radius: 0.5rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.topic_card:hover {
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}
@media screen and (max-width: 900px) {
  .topics_innerContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .topics_innerContainer {
    grid-template-columns: 1fr;
  }
}
.helpIndex_container {
  max-width: 1000px;
  margin: 0 auto;
}
.helpIndex_innerContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.helpIndex_card {
  display: block;
  max-width: 100%;
  background-color: #FFF;
  border-radius: 0.5rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.helpIndex_card:hover {
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}
@media screen and (max-width: 900px) {
  .fs-6 {
    font-size: 2rem !important;
    margin-right: 1rem;
    margin-top: 0.40rem;
  }
  .helpIndex_innerContainer {
    grid-template-columns: 1fr;
  }
}
.guides_innerContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}
.guide_innerContainer {
  max-width: 600px;
  margin: 0 auto;
}
.guide_content h3 {
  line-height: 1.25;
  margin: 0.5rem 0 0 0;
  font-size: 1.25rem;
  font-weight: bolder;
}
.guide_content h4 {
  line-height: 1.25;
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  font-weight: bolder;
}
.guide_content p {
  line-height: 1.75;
  margin: 0.5rem 0 2rem 0;
}
.guide_content img {
  display: block;
  max-width: 100%;
}
.guide_content ul,
.guide_content ol {
  margin: 0.5rem 0 0.5rem 1.25rem;
}
.guide_content ul li,
.guide_content ol li {
  line-height: 1.5;
  margin-bottom: 1rem;
}
.guide_content ul {
  list-style-type: disc;
}
.guide_content ol {
  list-style-type: decimal;
}
.guide_content em {
  display: block;
  background-color: #f5f8f9;
  border-left: solid 4px #34b292;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
}
.guide_content hr {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  height: 2rem;
}
.guideTitle,
.guideDescription {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .guides_innerContainer {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .guideTitle,
  .guideDescription {
    text-align: left;
  }
}
.logo {
  height: 22px;
}
.logoLabel {
  background-color: #ebf0ee;
  border-radius: 0.25rem;
  padding: 0.25rem 0.33rem;
  color: #7c8381;
  margin-left: 0.5rem;
}
.headerNavigation_container--fixed {
  background-color: #FFF;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.headerNavigation_innerContainer {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
}
.headerNavigation_logoContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerNavigation_searchContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 1rem;
}
.headerNavigation_linksContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.headerNavigation_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.headerNavigation_items > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 2rem;
  padding: 0;
  padding-top: 2px;
  line-height: 1rem;
  border-bottom: solid 2px transparent;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.headerNavigation_items > li:last-of-type {
  margin-right: 0;
}
.headerNavigation_items > li > a {
  display: inline-block;
  padding: 1rem 0 1rem 0;
  font-size: 15px;
  line-height: 1rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.headerNavigation_items > li > a:hover,
.headerNavigation_items > li > a:focus {
  color: #313534;
}
.headerNavigation_items > li.active a {
  color: #0b2821;
  font-weight: bolder;
}
.logo-mobile {
  display: none;
  height: 22px;
}
@media screen and (max-width: 900px) {
  .headerNavigation_container--fixed {
    padding: 0 1rem;
  }
  .headerNavigation_searchContainer {
    margin-right: 0;
  }
  .headerNavigation_linksContainer {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
}
.footer_container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  padding: 2rem;
  background-color: #3d3d3d;
  border-top: solid 1px #242424;
  color: #FFF;
}
.footer_container a {
  color: #FFF;
}
.footer_innerContainer {
  max-width: 100%;
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.footer_innerContainer ul li {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  line-height: 1.5;
}
.footer_innerContainer ul li a {
  color: #9d9d9d;
}
.footer_innerContainer ul li a:hover {
  color: #fff;
}
.footer_heading {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 500px) {
  .footer_innerContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 300px) {
  .footer_innerContainer {
    grid-template-columns: 1fr;
  }
}
.pageHeader_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #34b292;
  background: -webkit-gradient(linear, left top, right top, from(#34b292), to(#4dcbac));
  background: linear-gradient(90deg, #34b292 0%, #4dcbac 100%);
  color: #FFF;
  height: 250px;
  padding: 0 2rem;
}
.pageHeader_innerContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1000px;
  margin: 0 auto;
}
.pageHeader_innerContainer i {
  font-size: 4rem;
}
@media screen and (max-width: 900px) {
  .pageHeader_container {
    height: 175px;
  }
  .pageHeader_innerContainer i {
    display: none;
  }
  .fs-5 {
    font-size: 2.25rem !important;
  }
}
.searchResults_container {
  margin: 2rem 0;
}
.searchResults_innerContainer {
  max-width: 600px;
  margin: 0 auto;
}
.searchResults_list {
  margin: 2rem 0;
}
.searchResults_list li {
  margin-bottom: 1rem;
}
.searchResults_list li a {
  display: block;
  padding: 0.5rem 0.25rem;
}
.article_header {
  letter-spacing: 0.1rem;
  line-height: 1.25;
  font-size: 2.25rem;
  text-transform: capitalize;
}
.article_section {
  margin: 0 auto 4rem auto;
}
.article_headerContainer {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #f5f8f9;
}
.article_sectionHeader {
  padding: 0;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
}
.article_sectionBody {
  padding: 0;
}
.article_list {
  list-style-type: disc;
}
.article_container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #FFF;
  padding: 4rem 2rem 4rem 4rem;
}
.article_innerContainer {
  max-width: 776px;
}
.redactor-box-fullscreen > .redactor-editor {
  max-width: 776px;
  margin: 0 auto;
}
.article_sectionBody h3,
.redactor-editor h3 {
  line-height: 1.25;
  margin: 0.5rem 0 0 0;
  font-size: 1.25rem;
  font-weight: bolder;
}
.article_sectionBody h4,
.redactor-editor h4 {
  line-height: 1.25;
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  font-weight: bolder;
}
.article_sectionBody p,
.redactor-editor p {
  line-height: 1.75;
  margin: 0.5rem 0 2rem 0;
}
.article_sectionBody img,
.redactor-editor img {
  display: block;
  max-width: 100%;
}
.article_sectionBody ul,
.redactor-editor ul,
.article_sectionBody ol,
.redactor-editor ol {
  margin: 0.5rem 0 0.5rem 1.25rem;
}
.article_sectionBody ul li,
.redactor-editor ul li,
.article_sectionBody ol li,
.redactor-editor ol li {
  line-height: 1.5;
  margin-bottom: 1rem;
}
.article_sectionBody ul,
.redactor-editor ul {
  list-style-type: disc;
}
.article_sectionBody ol,
.redactor-editor ol {
  list-style-type: decimal;
}
.article_sectionBody em,
.redactor-editor em {
  display: block;
  background-color: #f5f8f9;
  border-left: solid 4px #34b292;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
}
.article_sectionBody hr,
.redactor-editor hr {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  height: 2rem;
}
.article_breadcrumb > li {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1;
  font-size: 0.85rem;
  display: inline-block;
}
.article_breadcrumb > li a {
  color: #dbfff6;
}
.article_breadcrumb > li a:hover {
  color: #FFF;
  text-decoration: underline;
}
.article_breadcrumb > li + li:before {
  color: #ccfff2;
  content: ">";
  padding: 0 0 0 0.2rem;
}
@media screen and (max-width: 900px) {
  .article_header {
    font-size: 1.5rem !important;
  }
  .article_innerContainer {
    margin-left: auto;
    margin-right: auto;
  }
  .article_container {
    padding: 4rem 2rem 4rem 2rem;
  }
}
.documentationNavigation_container {
  padding: 4rem 0 4rem 2rem;
}
.documentationNavigation_list {
  width: 225px;
  margin-left: auto;
}
.documentationNavigation_listItem {
  margin-bottom: 1.25rem;
  font-size: 0.85rem;
}
.documentationNavigation_listItem i {
  color: #bfcfcb;
  margin-right: 0.25rem;
}
.documentationNavigation_listItem a {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  line-height: 1.25rem;
}
.documentationNavigation_listItem a:hover {
  margin-left: 0.25rem;
}
.documentationNavigation_toggle {
  width: 100%;
  margin: 0;
  height: 46px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .documentationNavigation_toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .documentationNavigation_container {
    padding: 2rem;
  }
  .documentationNavigation_list {
    width: 100%;
    margin: 2rem 0;
    padding: 0;
  }
}
.searchInput_container {
  position: relative;
  height: 52px;
  background-color: #f5f8f9;
  border-radius: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchInput_container .fa-search {
  font-size: 0.85rem;
  color: #cacecd;
}
.searchInput_container .fa-times-circle {
  font-size: 0.85rem;
  color: #89908e;
}
.searchInput_container .fa-times-circle:hover {
  cursor: pointer;
  color: #7c8381;
}
.documentationSearch_input {
  z-index: 999;
  background-color: transparent;
  border: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.documentationSearch_input::-moz-placeholder {
  color: #7c8381;
  opacity: 1;
}
.documentationSearch_input:-ms-input-placeholder {
  color: #7c8381;
  opacity: 1;
}
.documentationSearch_input::-webkit-input-placeholder {
  color: #7c8381;
  opacity: 1;
}
.documentationSearch_input:focus::-moz-placeholder {
  opacity: 0.3;
}
.documentationSearch_input:focus:-ms-input-placeholder {
  opacity: 0.3;
}
.documentationSearch_input:focus::-webkit-input-placeholder {
  opacity: 0.3;
}
.searchInput_container--active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.searchInput_placeholder {
  position: absolute;
  z-index: 998;
  padding-left: 1.5rem;
  font-size: 0.85rem;
}
.documentationSearch {
  position: relative;
  width: 100%;
}
.documentationSearch .form-control {
  border-radius: 0;
}
.documentationSearch__resultsList {
  position: absolute;
  background-color: #FFF;
  border-radius: 0 0 0.25rem 0.25rem;
  width: 100%;
  text-align: right;
}
.documentationSearch__resultsList em {
  font-style: normal;
  text-decoration: underline;
}
.documentationSearch__resultsList li a {
  display: block;
  padding: 1rem;
  border-bottom: solid 1px #f5f8f9;
}
.documentationSearch__resultsList li a div {
  margin-top: 0.5rem;
}
.documentationSearch__resultsList li:hover {
  background-color: #f5f8f9;
}
.documentationSearch__resultsList li.active a {
  color: #34b292 !important;
  background-color: #fcfdfc;
}
.documentationSearch__resultsListDescription {
  letter-spacing: 0.5px;
}
.algolia-powered-by {
  display: inline-block;
  height: 14px;
  margin: 1rem;
}
@media screen and (max-width: 900px) {
  .searchInput_container--active {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .documentationSearch {
    position: static;
  }
  .documentationSearch__resultsList {
    top: 76px;
    left: 0;
    right: 0;
    border-radius: 0 0 0.25rem 0.25rem;
    width: 100%;
  }
  .searchInput_container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
html,
body {
  height: 100%;
}
body {
  padding-top: 76px;
}
.supportPeople_container {
  width: 100%;
}
.supportPeople_innerContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}
.supportPeople_profilePic {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  display: inline-block;
}
a.anchor {
  display: block;
  position: relative;
  top: -96px;
  visibility: hidden;
}
.ls-1 {
  letter-spacing: 0.05rem;
}
.ls-2 {
  letter-spacing: 0.10rem;
}
.ls-3 {
  letter-spacing: 0.15rem;
}
.ls-4 {
  letter-spacing: 0.20rem;
}
.ls-5 {
  letter-spacing: 0.25rem;
}
.uppercase {
  text-transform: uppercase;
}
.text-indent-minus-2 {
  text-indent: -2px;
}
.pageHeader {
  width: 100%;
  max-width: 1000px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 auto 4rem auto;
}
.pageHeader_heading {
  letter-spacing: 0.15rem;
  line-height: 2.5rem;
  font-size: 2rem;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main_container {
  padding: 4rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100%;
}
.main_container--docs {
  padding: 0;
  height: 100%;
}
.documentation_innerContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  height: 100%;
  justify-items: stretch;
}
.show-mobile {
  display: none;
}
.hidden-mobile {
  display: block;
}
@media screen and (max-width: 900px) {
  .show-mobile {
    display: block !important;
  }
  .hidden-mobile {
    display: none !important;
  }
  .documentation_container {
    display: block;
  }
  .documentation_innerContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .documentationSearch_input {
    font-size: 16px !important;
  }
}
