.article_header {
	text-shadow:  0 1px 2px hsla(0, 0, 0%, 0.1);
	letter-spacing: 0.15rem;
	line-height: 2.5rem;
	font-size: 2rem;
}

.article_section {
	background-color: #FFF;
	border-radius: 0.5rem;
	margin: 0 auto 2rem auto;
}

.article_sectionHeader {
	line-height: 1.5rem;
	color: #3d3d3d;
	padding-bottom: 0.5rem;
	border-bottom: solid 1px #f5f8f9;
	padding: 1rem 1.25rem;
	letter-spacing: 0.05rem;
}

.article_sectionHeader--main {
	background-color: hsl(165, 55%, 45%);
	background: linear-gradient(45deg, hsl(165, 55%, 45%) 0%, hsl(165, 55%, 55%) 100%);
	border-radius: 0.5rem 0.5rem 0 0;
	color: #FFF;
	a {
		color: #FFF;
	}
}

.article_sectionBody {
	padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.article_list {
	list-style-type: disc;
}


.article_container {
	flex: 1 1 auto;
	width: 100%;
	max-width: 100%;
	p {
		line-height: 1.75rem;
		margin: 1rem 0 2rem 0;
		&:last-of-type {
			margin-bottom: 0; 
		}
	}
	img {
		display: block;
		max-width: 100%;
	}
}


.article_breadcrumb {
	> li {
		text-shadow:  0 1px 2px hsla(0, 0, 0%, 0.20);
    	line-height: 1;
    	font-size: 0.85rem;
    	display: inline-block;
    	a {color: hsla(165, 100%, 93%, 1);}
    	a:hover {color: #FFF; text-decoration: underline;}
	    + li:before {
	    	color: hsla(165, 100%, 90%, 1);
	    	content: ">";
	      	padding: 0 0 0 0.2rem;
	    }
	}
}

@media screen and (max-width: @mobile-break-point) {

	.article_header {
		text-transform: uppercase;
		line-height: 2rem;
		font-size: 1.5rem !important;
	}

	.article_innerContainer {
		margin-left: auto;
		margin-right: auto;
	}

	.article_container {
		margin-top: 0;
		flex: 1 0 auto;
		max-width: 100%;
	}

}	