.article_header {
	letter-spacing: 0.1rem;
	line-height: 1.25;
	font-size: 2.25rem;
	text-transform: capitalize;
}

.article_section {
	margin: 0 auto 4rem auto;
}

.article_headerContainer {
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	border-bottom: solid 1px #f5f8f9;
}

.article_sectionHeader {
	padding: 0;
	letter-spacing: 0.05rem;
	font-size: 1.5rem;
}

.article_sectionBody {
	padding: 0;
}

.article_list {
	list-style-type: disc;
}

.article_container {
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: #FFF;
	padding: 4rem 2rem 4rem 4rem;
}

.article_innerContainer {
	max-width: 776px;
}

.redactor-body-fullscreen .redactor-in {
	max-width: @site-width-narrow;
	margin: 0 auto 0 auto;
	padding: 2rem;
	border-radius: 3px;
	background-color: #FFF;
	height: 90vh !important;
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}

.article_sectionBody, .redactor-in {
	h2 {
		line-height: 1.25;
		margin: 0.5rem 0 0 0;
		font-size: 1.5rem;
		font-weight: bolder;
	}
	h3 {
		line-height: 1.25;
		margin: 0.5rem 0 0 0;
		font-size: 1.25rem;
		font-weight: bolder;
	}
	h4 {
		line-height: 1.25;
		margin: 0.5rem 0 0 0;
		font-size: 1rem;
		font-weight: bolder;
	}
	p {
		line-height: 1.75;
		margin: 0.5rem 0 2rem 0;
	}
	figure {
		margin: 0;
		padding: 0;
		display: block;
	}
	img {
		display: block;
		max-width: 100%;
		margin: 1rem 0;
	}
	ul, ol {
		margin: 0.5rem 0 0.5rem 1.25rem;
		li {
			line-height: 1.5;
			margin-bottom: 1rem;
		}
	}
	ul {
		list-style-type: disc;
	}
	ol {
		list-style-type: decimal;
	}
	hr {
		padding: 0;
		margin: 0 !important;
		background-color: transparent !important;
		border: none;
		height: 2rem !important;
	}
	table {
		width: 100%;
		margin: 1rem auto;
		th {
			text-align: center;
			border: solid 1px #eee;
			padding: 1rem;
		}
		td {
			border: solid 1px #eee;
			padding: 1rem;
			line-height: 1.5;
		}
	}
}


.article_breadcrumb {
	> li {
		text-shadow:  0 1px 2px hsla(0, 0, 0%, 0.20);
    	line-height: 1;
    	font-size: 0.85rem;
    	display: inline-block;
    	a {color: hsla(165, 100%, 93%, 1);}
    	a:hover {color: #FFF; text-decoration: underline;}
	    + li:before {
	    	color: hsla(165, 100%, 90%, 1);
	    	content: ">";
	      	padding: 0 0 0 0.2rem;
	    }
	}
}

.call-out {
	display: block;
	background-color: #f5f8f9;
	background-color: hsl(165, 55%, 45%);
	color: #FFF;
	font-style: normal;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 0.85rem;
	position: relative;
	padding-left: 3rem;
	border-radius: 3px;
	box-shadow: 0 7px 6px -6px rgba(50,50,93,.1);
	z-index: 10;
	&:before {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Font Awesome 5 Free";
		font-size: 1rem;
		color: #FFF;
		background-color: hsl(165, 55%, 45%);
	    content: "\f0eb";
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    padding-left: 1rem;
	    border-radius: 3px 0 0 3px;
	  }
}

.call-out--alert {
	display: block;
	background-color: hsl(360, 65%, 64%);
	color: #FFF;
	font-style: normal;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 0.85rem;
	position: relative;
	padding-left: 3rem;
	border-radius: 3px;
	box-shadow: 0 7px 6px -6px rgba(50,50,93,.1);
	z-index: 10;
	&:before {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Font Awesome 5 Free";
		font-size: 1rem;
		color: #FFF;
		background-color: hsl(360, 65%, 64%);
	    content: "\f071";
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 3rem;
	    padding: 0;
	    border-radius: 3px 0 0 3px;
	  }
}

@media screen and (max-width: @mobile-break-point) {

	.article_header {
		// text-transform: uppercase;
		font-size: 1.5rem !important;
	}

	.article_innerContainer {
		margin-left: auto;
		margin-right: auto;
	}

	.article_container {
		padding: 4rem 2rem 4rem 2rem;
	}

}	